@charset "UTF-8";
/* CSS Document */

/*night time version*/
h1 {
	font-family: futura, helvetica, sans-serif;
	font-size: 45px;
	width: 480px;
	margin: 20px auto;
	padding: 10px;
	display: block;
	background-color: black;
	color: #81DE10;
}
section.illustration {
	width: 480px;
	margin: 0 auto;
	border-bottom: 2px dotted white;
}
p {
	color: white;
	width: 480px;
	margin: 10px auto;
	padding: 0px;
	font-family: garamond, georgia, times new roman, serif;
	font-size: 18px;
}
section.options {
	width: 480px;
	margin: 20px auto 20px;
	content-align: center;
}
a {
	text-decoration: none;
	width: 237px;
	display: inline-block;
	background-color: #81DE10;
	text-align: center;
	padding: 15px 0 15px 0;
	font-family: futura, helvetica, sans-serif;
	color: black;
}
a:hover {
	background-color: black;
	color: #81DE10;
	border: 2px dotted #81DE10;
	width: 232px;
}
section.all {
	border: 3px dashed #81DE10;
	width: 600px;
	margin: 30px auto;
}
body {
	background-color: black;
	margin-top: 600px;
}
button {
	width: 30px;
	height: 30px;
	margin-bottom: 30px;
	display: inline-block;
}
#plus {
	margin-left: 10px;
}
p.textadjust{
	display: inline-block;
	width: 158px;
	margin: 10px auto;	
	padding: 0px;
	font-family: garamond, georgia, times new roman, serif;
	font-size: 18px;
}